.about {
	background-color: $ltColor;
	h2,
	h3 {
		color: $dkColor;
	}
	p {
		color: $medDkColor;
	}
	li {
		color: $dkColor;
	}
}

.about .wrapper {
	display: flex;
	flex-flow: row wrap;
	@media (max-width: 980px) {
		flex-direction: column;
		> * {
			width: 100%;
		}
	}
}

.about .section-title {
	width: 100%;
	margin-bottom: 60px;
	text-align: center;
	@media (max-width: 980px) {
		margin-bottom: 40px;
		text-align: center;
	}
}

.about-image {
	padding: 0px 30px 0px 30px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__container {
		align-self: center;
	}
}

.about-image__container {
	@media (max-width: 980px) {
		width: 45%;
		margin-bottom: 40px;
	}
	@media (max-width: 720px) {
		width: 65%;
	}
	@media (max-width: 540px) {
		width: 80%;
	}
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	padding: 0px 30px 0px 30px;
	p {
		margin-bottom: 40px;
	}
}

.about-text__toolbox h3{
	margin-bottom: 20px;
}

.toolbox__item {
	display: flex;
	margin-bottom: 10px;
	h4 {
		width: 35%;
	}
	ul {
		width: 65%;
		display: flex;
		flex-flow: row wrap;
		li {
			margin-right: 20px;
		}
	}
}
