* {
	margin: 0;
	color: $ltColor;
	font-family: "Lato", sans-serif;
}

h1 {
	font-size: calc(80px + (115 - 80) * ((100vw - 540px) / (1500 - 540)));
	font-family: 'Playfair Display SC', serif;
	text-transform: uppercase;
}

h2 {
	font-family: 'Playfair Display SC', serif;
	font-size: 38px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	font-size: 15px;
	display: inline-block;
	color: $dkColor;
}

p {
	font-family: "Crimson Text", serif;
	line-height: 1.5;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	text-transform: uppercase;
	font-size: 15px;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	&:link,
	&:visited {
	}
	&:hover,
	&:active {
	}
}

span {
	transition: all 0.5s ease-in-out;
}

button {
	@media (max-width: 480px) {
		width: 100%;
	}
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.btn {
	text-transform: uppercase;
	padding: 8px 24px 8px 24px;
	border: none;
	transition: all 0.5s ease-in-out;
}

.btn--transparent {
	background-color: transparent;
}

.btn--lt {
	color: $ltColor;
	border: 1.5px solid $ltColor;
	&:hover {
		color: $dkColor;
		background-color: $ltColor;
		border: 1.5px solid transparent;
	}
}

.btn--dk {
	color: $dkColor;
	border: 1.5px solid $dkColor;
	&:hover {
		color: $ltColor;
		background-color: $dkColor;
		border: 1.5px solid transparent;
	}
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

section .wrapper {
	padding: 60px 0px 60px 0px;
	@media (max-width: 980px) {
		padding: 40px 0px 40px 0px;
	}
}

.btn {
	// border-radius: 3px;
}

main {
	box-shadow: 0 -3px 3px 0px rgba(0, 0, 0, 0.25);
}